{% comment %}

Code created by JadePuma
Instructions - https://jadepuma.com/blogs/shopify-tutorials/how-to-add-an-alternative-header-announcement-bar-in-the-flex-theme
Last editted - 26Jan24
 
{% endcomment %}

{% comment %} HTML markup {% endcomment %}

{% if section.settings.show_header_promo %}

<section>
<div class="header_promo">
<div class="header_promo_desktop">{{section.settings.desktop_text}}</div>
<div class="header_promo_mobile">{{section.settings.mobile_text}}</div>
</div>
</section>


{% style %}
.header_promo{
    height:{{section.settings.promo_height_desktop}}px;
    background-color:{{section.settings.background_color}};
    color: {{section.settings.text_color}};
    display:flex;
    align-items:center;
}
.header_promo_desktop{
    width:max-content;
    display:block;
    font-size:{{section.settings.font_size_desktop}}px;
    margin:0 20px;
    {% if section.settings.text_align_desktop == "center" %}
    margin:0 auto;
    {% endif %}
    text-align:center;
    padding:0px {{section.settings.desktop-padding}}px;
}
.header_promo_mobile{
    display:none;
    font-size:{{section.settings.font_size_mobile}}px;
    margin:0 20px;
    {% if section.settings.text_align_mobile == "center" %}
    margin:0 auto;
    {% endif %}
    text-align:center;
    padding:0px {{section.settings.mobile-padding}}px;
}
.header_promo a{
    color:{{section.settings.link_color}};   
    {% if section.settings.link_underline %}
    text-decoration:underline;  
    {% endif %}
    transition-duration:0;
}

.header_promo a:hover{
    color:{{section.settings.link_hover_color}};     
}

@media only screen and (max-width: 600px) {
.header_promo{
 height:{{section.settings.promo_height_mobile}}px;
} 
.header_promo_desktop{
    display:none;
}
.header_promo_mobile{
    display:block;
}
}

{% endstyle %}



{% endif %}

{% schema %}

{
  "name": "JP Header promo",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_header_promo",
      "label": "Show header promo",
      "default": false
    },
    {
      "type": "header",
      "content": "Desktop settings"
    },
    {
      "type": "range",
      "id": "promo_height_desktop",
      "label": "Desktop height",
      "min": 10,
      "max": 100,
      "default": 75,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "font_size_desktop",
      "label": "Desktop font-size",
      "min": 10,
      "max": 50,
      "default": 20,
      "unit": "px"
    },
      {
      "type": "range",
      "id": "desktop-padding",
      "label": "Padding-left/right",
      "min":0,
      "max": 50,
      "step": 5,
      "default":0,
      "unit": "px"
    },
    {
      "type": "text",
      "id": "desktop_text",
      "label": "Desktop text",
      "default":"This header promo is seen on all desktop pages and can include links"
    },
    {
        "type": "select",
        "id": "text_align_desktop",
        "label": "Alignment",
        "default": "center",
        "options": [
        {
            "value": "left",
            "label": "Left"
        },
        {
            "value": "center",
            "label": "Center"
        }
       ]
    },
    {
      "type": "header",
      "content": "Mobile settings"
    },
    {
      "type": "text",
      "id": "mobile_text",
      "label": "Mobile text",
      "default":"Mobile header promo"
    },
    {
      "type": "range",
      "id": "promo_height_mobile",
      "label": "Mobile height",
      "min": 10,
      "max": 100,
      "default": 60,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "font_size_mobile",
      "label": "Mobile font-size",
      "min": 10,
      "max": 50,
      "default": 18,
      "unit": "px"
    },
        {
      "type": "range",
      "id": "mobile-padding",
      "label": "Padding-left/right",
      "min":0,
      "max": 50,
      "step": 5,
      "default":0,
      "unit": "px"
    },
    {
        "type": "select",
        "id": "text_align_mobile",
        "label": "Alignment",
        "default": "center",
        "options": [
        {
            "value": "left",
            "label": "Left"
        },
        {
            "value": "center",
            "label": "Center"
        }
       ]
    },
    {
      "type": "header",
      "content": "Link settings"
    },
    {
      "type": "checkbox",
      "id": "link_underline",
      "label": "Link underline",
      "default": false
    },
    {
      "type": "header",
      "content": "Color settings"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "Link color",
      "default": "rgb(0,0,0)"
    },
    {
      "type": "color",
      "id": "link_hover_color",
      "label": "Link hover color",
      "default": "rgb(0,0,0)"
    }
  ]
}

{% endschema %}