{% if section.settings.show_header_promo %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    
        {% assign fontSizeDesktop = section.settings.font_size_desktop %}
        {% assign fontSizeMobile = section.settings.font_size_mobile %}
        
        
        
        <div id="announcement_main" style="background-color: {{ section.settings.background_color }}">
        <ul class="announcement_container">
           {% for block in section.blocks %}
            <li>
              <div class="text_container"  style="background-color:{{block.settings.background_color}};">
                <span class="desktop_only">{{ block.settings.title }}</span>
                {% if block.settings.text_mobile != blank %}  
                  <span class="mobile_only">{{ block.settings.text_mobile }}</span>
                {% else %}
                  <span class="mobile_only">{{ block.settings.title }}</span>
                {% endif %}
              </div>
            </li>
           {% endfor %}
        </ul>
        </div>
        
        {% if section.blocks.size > 1  %}
    <script>
    var x = 0,
        container = $('.announcement_container'),
        items = container.find('li'),
        containerHeight = 0,
        numberVisible = 5,
        intervalSec = {{ section.settings.announcement_delay | json}} * 1000;
    
    if(!container.find('li:first').hasClass("first")){
      container.find('li:first').addClass("first");
    }
    
    items.each(function(){
      if(x < numberVisible){
        containerHeight = containerHeight + $(this).outerHeight();
        x++;
      }
    });
    
    container.css({ height: containerHeight, overflow: "hidden" });
    
    function vertCycle() {
      var firstItem = container.find('li.first'); // Select the first item as a jQuery object
      var firstItemHtml = firstItem.html(); // Get the HTML content
    
      container.append('<li>'+firstItemHtml+'</li>');
      firstItem.animate({ marginTop: "-39px" }, {{section.settings.transition_speed}}, function(){  
        $(this).remove(); 
        container.find('li:first').addClass("first"); 
      });
    }
    
    if(intervalSec < 700){
      intervalSec = 700;
    }
    
    var init = setInterval(vertCycle, intervalSec);
    
    container.hover(function(){
      clearInterval(init);
    }, function(){
      init = setInterval(vertCycle, intervalSec);
    });
    </script>
        
        
        {% endif %}
        
        <style>
        
        
        
        
        ul.announcement_container {
          left:0;
          width: 100%;
          padding: 0;
          text-align:center;
          max-height:40px;
          overflow:hidden;
        }
        
        ul.announcement_container li {
          position:relative;
          color: black;
          list-style-type: none;
          height:40px;
          text-align:center;
          left:50%;
          transform:translateX(-50%);
        }
        
        .text_container{
          width:100%;
          position:absolute;
          top:50%;
          transform:translateY(-50%);
          color:{{section.settings.text_color}};
          height:100%;
          font-size:{{fontSizeDesktop}}px;
          letter-spacing: 0px;
          font-weight:400;
          padding-left:20px;
          padding-right:20px;
          display:flex;
          justify-content:center;
          align-items:center;
          background-color:{{section.settings.background_color}};
        }
        
        .text_container a{
           color: {{section.settings.link_color}};
        
            {% if section.settings.link_underline %}
            text-decoration:underline !important;
            {% endif %}
        }
        
        .text_container a:hover{
           color: {{section.settings.link_hover_color}};
        }
        
        @media only screen and (max-width: 480px) {
        .text_container{
          font-size:{{fontSizeMobile}}px;
        }
        ul.announcement_container {
          
          top:-{{fontSizeMobile}}px;
        
        }
        
        }
        
        
        .mobile_only{
          display:none;
        }
        
        @media only screen and (max-width: 798px) {
          .mobile_only{
            display:block;
          }
          .desktop_only{
            display:none;
          }
        }
        
        
        </style>
        
        
        
        
        <style>
        #announcement_main{
           height:40px;
           width:100%;
           z-index:100;
        }
        
        </style>
        
        
        
        {% endif %}
        
        
        {% schema %}
        {
           "name":"JP Header promo slider",
           "disabled_on": {
          "templates": ["*"],
          "groups": ["footer"]
        },
           "settings": [
          
                      {
                        "type": "checkbox",
                        "id": "show_header_promo",
                        "label": "Show header promo"
                    },
                     {
                     "type": "range",
                      "min": 1,
                      "max": 10,
                      "step": 0.5,
                      "id":"announcement_delay",
                      "unit": "sec",
                      "label":"Delay",
                      "default": 3
                    },
                     {
                     "type": "range",
                      "min": 250,
                      "max": 2500,
                      "step": 250,
                      "id":"transition_speed",
                      "unit": "ms",
                      "label":"Transition speed (milliseconds)",
                      "default": 500
                    },
                  {
                    "type": "range",
                    "id": "font_size_desktop",
                    "label": "Desktop font-size",
                    "min": 10,
                    "max": 50,
                    "default": 20,
                    "unit": "px"
                  },
                  {
                    "type": "range",
                    "id": "font_size_mobile",
                    "label": "Mobile font-size",
                    "min": 10,
                    "max": 50,
                    "default": 20,
                    "unit": "px"
                  },
                    {
                    "type": "color",
                    "id": "background_color",
                    "label": "Background color"
                  },
                  {
                  "type": "color",
                  "id": "text_color",
                  "label": "Color"
                  },
                  {
                    "type": "color",
                    "id": "link_color",
                    "label": "Link color"
                  },
                    {
                    "type": "color",
                    "id": "link_hover_color",
                    "label": "Link hover color"
                  },
                      {
                      "type": "checkbox",
                      "id": "link_underline",
                      "label": "Link underline",
                      "default": false
                    },
                    {
        "type": "range",
        "id": "promo_height_desktop",
        "label": "Desktop Vertical Spacing",
        "min": 10,
        "max": 200,
        "step": 10,
        "default": 50,
        "unit": "px"
      }
           ],
           "blocks":[
              {
                 "type":"text",
                 "name":"Announcement",
                 "settings":[
                    {
                    "type":"text",
                    "id":"title",
                    "label":"Desktop Text"
                    },
                    {
                    "type":"text",
                    "id":"text_mobile",
                    "label":"Mobile Text (optional)"
                    },
                    {
                      "type": "color",
                      "id": "background_color",
                      "label": "Background"
                    }
                 ]
              }
           ],
           "presets":[
              {
                 "name":"JP Header promo slider"
                
              }
           ]
        }
        
        {% endschema %}
        
        
        