{% if section.settings.show_header_promo %}

{% style %}
#announcement_main {
height: {{ section.settings.desktop_height }}px;
width: 100%;
z-index: 100;
}
ul.announcement_container {
max-height: {{ section.settings.desktop_height }}px;
height: {{ section.settings.desktop_height }}px;
left: 0;
width: 100%;
padding: 0;
text-align: center;
overflow: hidden;
}

ul.announcement_container li {
height: {{ section.settings.desktop_height }}px;
position: relative;
list-style-type: none;
text-align: center;
left: 50%;
transform: translateX(-50%);
}
.text_container {
width: 100%;
position: absolute;
top: 50%;
transform: translateY(-50%);
color: {{ section.settings.text_color }};
height: 100%;
letter-spacing: 0;
font-weight: 400;
padding-left: 20px;
padding-right: 20px;
display: flex;
justify-content: {{ section.settings.desktop_alignment }};
align-items: center;
background-color: {{ section.settings.background_color }};
}

.text_container span a {
color: {{ section.settings.link_color }};

{% if section.settings.link_underline %}
text-decoration: underline !important;
{% endif %}
}

.text_container span a:hover {
color: {{ section.settings.link_hover_color }};
}

{% for block in section.blocks %}


{% capture text_color %}
{% if block.settings.text_color.alpha != 0.0 %}
color: {{ block.settings.text_color }};
{% else %}
color: {{ section.settings.text_color }};
{% endif %}
{% endcapture %}

{% capture link_color %}
{% if block.settings.link_color.alpha != 0.0 %}
color: {{ block.settings.link_color }};
{% else %}
color: {{ section.settings.link_color }};
{% endif %}
{% endcapture %}

{% capture link_hover_color %}
{% if block.settings.link_hover_color.alpha != 0.0 %}
color: {{ block.settings.link_hover_color }};
{% else %}
color: {{ section.settings.link_hover_color }};
{% endif %}
{% endcapture %}

#text-{{ block.id }}-block {
background-color: {{ block.settings.background_color }};
}
#text-{{ block.id }}-block span *:not(a) {
{{ text_color }}
}
#text-{{ block.id }}-block span a
, #text-{{ block.id }}-block span a em
, #text-{{ block.id }}-block span a strong {
{{ link_color }}
}
#text-{{ block.id }}-block span a:hover,
#text-{{ block.id }}-block span a:hover em,
#text-{{ block.id }}-block span a:hover strong {
{{ link_hover_color }}
}

{% endfor %}

.mobile_only {
display: none;
}

@media only screen and (max-width: 798px) {
{% if section.settings.mobile_alignment != 'none' %}
.text_container {
justify-content: {{ section.settings.mobile_alignment }};
}

{% endif %}

ul.announcement_container li {
height: {{ section.settings.mobile_height }}px;
}
ul.announcement_container {
max-height: {{ section.settings.mobile_height }}px;
height: {{ section.settings.mobile_height }}px;
}

#announcement_main {
height: {{ section.settings.mobile_height }}px;
}
.mobile_only {
display: block;
}
.desktop_only {
display: none;
}
}
{% endstyle %}


<div id="announcement_main" style="background-color: {{ section.settings.background_color }}">
  <ul class="announcement_container">
    {% for block in section.blocks %}
    <li>
      <div class="text_container" id="text-{{ block.id }}-block">
        <span class="desktop_only">{{ block.settings.title }}</span>
        <span class="mobile_only">
          {%- if block.settings.text_mobile != blank -%}
          {{- block.settings.text_mobile -}}
          {%- else -%}
          {{- block.settings.title -}}
          {%- endif -%}
        </span>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

{% if section.blocks.size > 1 %}
<script>
  var x = 0,
    container = $('.announcement_container'),
    items = container.find('li'),
    containerHeight = 0,
    numberVisible = 5,
    intervalSec = {{ section.settings.announcement_delay | json}} * 1000;
  const desktopText = $('.text_container .desktop_only')
  console.log(desktopText.height())

  if (!container.find('li:first').hasClass("first")) {
    container.find('li:first').addClass("first");
  }

  items.each(function () {
    // console.log($(this).outerHeight(), $(this))
    if (x < numberVisible) {
      containerHeight = containerHeight + $(this).outerHeight();
      x++;
    }
  });

  // container.css({ height: containerHeight, overflow: "hidden" });

  function vertCycle() {
    var firstItem = container.find('li.first'); // Select the first item as a jQuery object
    var firstItemHtml = firstItem.html(); // Get the HTML content

    container.append('<li>' + firstItemHtml + '</li>');
    // firstItem.animate({ marginTop: "-39px" }, {{section.settings.transition_speed}}, function(){
    console.log(window.innerWidth)
    if (window.innerWidth < 798) {
      console.log('inside if cuz mobile')
      firstItem.animate({ marginTop: "-{{ section.settings.mobile_height }}px" }, {{ section.settings.transition_speed }}, function() {
        $(this).remove();
        container.find('li:first').addClass("first");
      });
  } else {
    firstItem.animate({ marginTop: "-{{ section.settings.desktop_height }}px" }, {{ section.settings.transition_speed }}, function() {
      $(this).remove();
      container.find('li:first').addClass("first");
    });
          }
        
        }

  if (intervalSec < 700) {
    intervalSec = 700;
  }

  var init = setInterval(vertCycle, intervalSec);

  container.hover(function () {
    clearInterval(init);
  }, function () {
    init = setInterval(vertCycle, intervalSec);
  });
</script>
{% endif %}


{% endif %}

{% schema %}
{
"name": "JP Header Banner Promo",
"disabled_on": {
"templates": ["*"],
"groups": ["footer"]
},
"settings": [
{
"type": "header",
"content": "Visibility"
},
{
"type": "checkbox",
"id": "show_header_promo",
"label": "Show header promo",
"default": true
},
{
"type": "header",
"content": "Animation"
},
{
"type": "range",
"min": 1,
"max": 10,
"step": 0.5,
"id": "announcement_delay",
"unit": "sec",
"label": "Delay",
"default": 3
}, {
"type": "range",
"min": 250,
"max": 2500,
"step": 250,
"id": "transition_speed",
"unit": "ms",
"label": "Transition speed (milliseconds)",
"default": 500
}, {
"type": "header",
"content": "Color Settings"
}, {
"type": "color",
"id": "background_color",
"label": "Background color"
}, {
"type": "color",
"id": "text_color",
"label": "Color"
}, {
"type": "color",
"id": "link_color",
"label": "Link color"
}, {
"type": "color",
"id": "link_hover_color",
"label": "Link hover color"
}, {
"type": "checkbox",
"id": "link_underline",
"label": "Link underline",
"default": false
}, {
"type": "header",
"content": "Desktop Text"
}, {
"type": "range",
"id": "desktop_height",
"label": "Desktop Vertical Spacing",
"min": 10,
"max": 200,
"step": 10,
"default": 50,
"unit": "px"
}, {
"type": "select",
"id": "desktop_alignment",
"label": "Desktop text alignment",
"options": [
{
"value": "start",
"label": "Left"
}, {
"value": "center",
"label": "Center"
}, {
"value": "end",
"label": "Right"
}
],
"default": "center"
}, {
"type": "header",
"content": "Mobile Text"
}, {
"type": "range",
"id": "mobile_height",
"label": "Mobile Vertical Spacing",
"min": 10,
"max": 200,
"step": 10,
"default": 50,
"unit": "px"
}, {
"type": "select",
"id": "mobile_alignment",
"label": "Mobile text alignment",
"options": [
{
"value": "none",
"label": "Same as desktop"
}, {
"value": "start",
"label": "Left"
}, {
"value": "center",
"label": "Center"
}, {
"value": "end",
"label": "Right"
}
],
"default": "none"
}

],
"blocks": [
{
"type": "text",
"name": "Announcement",
"settings": [
{
"type": "richtext",
"id": "title",
"label": "Desktop Text"
},
{
"type": "richtext",
"id": "text_mobile",
"label": "Mobile Text (optional)"
},
{
"type": "header",
"content": "Color Settings"
},
{
"type": "color",
"id": "background_color",
"label": "Background"
}, {
"type": "color",
"id": "text_color",
"label": "Color"
}, {
"type": "color",
"id": "link_color",
"label": "Link color"
}, {
"type": "color",
"id": "link_hover_color",
"label": "Link hover color"
}
]
}
],
"presets": [
{
"name": "JP Header Banner Promo"
}
]
}
{% endschema %}